doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Scademi
    // Bootstrap Core CSS
    link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // Theme CSS
    link(href='css/freelancer.min.css', rel='stylesheet')
    link(href='css/bebas.css', rel='stylesheet')
    // Custom Fonts
    link(href='vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body#page-top.index
    // Navigation
    nav#mainNav.navbar.navbar-default.navbar-fixed-top.navbar-custom
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            |  Menu
            i.fa.fa-bars
          a.navbar-brand(href='#page-top') ScademI Your Final Score
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.hidden
              a(href='#page-top')
            li.page-scroll
              a(href='/') Home
            li.page-scroll
              a(href='#contact') Exit
        // /.navbar-collapse
      // /.container-fluid
    // Header
    header.score
      center
        .container
          h1 Your Score
          .row
            .col-lg-12.text-center
              .panel.panel-default(class='rows=', cols='50%')
                .panel-body
                  p#scorefinal.score
                    | score
            p
              a.btn.btn-primary.btn-lg(href='#', role='button') Exit »
    // Footer
    footer.text-center
      .footer-above
        .container
          .row
            .footer-col.col-md-4
              h3 Location
              p
                | Jakarta Selatan
                br
                | Patal Senayan, Rukan Permata Block F
            .footer-col.col-md-4
              h3 Social Media
              ul.list-inline
                li
                  a.btn-social.btn-outline(href='#')
                    i.fa.fa-fw.fa-facebook
                li
                  a.btn-social.btn-outline(href='#')
                    i.fa.fa-fw.fa-google-plus
                li
                  a.btn-social.btn-outline(href='#')
                    i.fa.fa-fw.fa-twitter
                li
                  a.btn-social.btn-outline(href='#')
                    i.fa.fa-fw.fa-linkedin
                li
                  a.btn-social.btn-outline(href='#')
                    i.fa.fa-fw.fa-dribbble
            .footer-col.col-md-4
              h3 About ScademI
              p
                | TPA Online Based, Pair Project Phase 1, September of 2016. Created by
                br
                a(href='http://sahbanagold.github.io') Sahbana
                |  &
                a(href='http://imamnugraha23.github.io') Imam
      .footer-below
        .container
          .row
            .col-lg-12
              | Copyright © Sahbana&Imam
    // Scroll to Top Button (Only visible on small and extra-small screen sizes)
    .scroll-top.page-scroll.hidden-sm.hidden-xs.hidden-lg.hidden-md
      a.btn.btn-primary(href='#page-top')
        i.fa.fa-chevron-up
    // Portfolio Modals
    #portfolioModal1.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-content
        .close-modal(data-dismiss='modal')
          .lr
            .rl
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .modal-body
                h2 Project Title
                hr.star-primary
                img.img-responsive.img-centered(src='img/portfolio/cabin.png', alt='')
                p
                  | Use this area of the page to describe your project. The icon above is part of a free icon set by
                  a(href='https://sellfy.com/p/8Q9P/jV3VZ/') Flat Icons
                  | . On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
                ul.list-inline.item-details
                  li
                    | Client:
                    strong
                      a(href='http://startbootstrap.com') Start Bootstrap
                  li
                    | Date:
                    strong
                      a(href='http://startbootstrap.com') April 2014
                  li
                    | Service:
                    strong
                      a(href='http://startbootstrap.com') Web Development
                button.btn.btn-default(type='button', data-dismiss='modal')
                  i.fa.fa-times
                  |  Close
    #portfolioModal2.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-content
        .close-modal(data-dismiss='modal')
          .lr
            .rl
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .modal-body
                h2 Project Title
                hr.star-primary
                img.img-responsive.img-centered(src='img/portfolio/cake.png', alt='')
                p
                  | Use this area of the page to describe your project. The icon above is part of a free icon set by
                  a(href='https://sellfy.com/p/8Q9P/jV3VZ/') Flat Icons
                  | . On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
                ul.list-inline.item-details
                  li
                    | Client:
                    strong
                      a(href='http://startbootstrap.com') Start Bootstrap
                  li
                    | Date:
                    strong
                      a(href='http://startbootstrap.com') April 2014
                  li
                    | Service:
                    strong
                      a(href='http://startbootstrap.com') Web Development
                button.btn.btn-default(type='button', data-dismiss='modal')
                  i.fa.fa-times
                  |  Close
    #portfolioModal3.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-content
        .close-modal(data-dismiss='modal')
          .lr
            .rl
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .modal-body
                h2 Project Title
                hr.star-primary
                img.img-responsive.img-centered(src='img/portfolio/circus.png', alt='')
                p
                  | Use this area of the page to describe your project. The icon above is part of a free icon set by
                  a(href='https://sellfy.com/p/8Q9P/jV3VZ/') Flat Icons
                  | . On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
                ul.list-inline.item-details
                  li
                    | Client:
                    strong
                      a(href='http://startbootstrap.com') Start Bootstrap
                  li
                    | Date:
                    strong
                      a(href='http://startbootstrap.com') April 2014
                  li
                    | Service:
                    strong
                      a(href='http://startbootstrap.com') Web Development
                button.btn.btn-default(type='button', data-dismiss='modal')
                  i.fa.fa-times
                  |  Close
    #portfolioModal4.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-content
        .close-modal(data-dismiss='modal')
          .lr
            .rl
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .modal-body
                h2 Project Title
                hr.star-primary
                img.img-responsive.img-centered(src='img/portfolio/game.png', alt='')
                p
                  | Use this area of the page to describe your project. The icon above is part of a free icon set by
                  a(href='https://sellfy.com/p/8Q9P/jV3VZ/') Flat Icons
                  | . On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
                ul.list-inline.item-details
                  li
                    | Client:
                    strong
                      a(href='http://startbootstrap.com') Start Bootstrap
                  li
                    | Date:
                    strong
                      a(href='http://startbootstrap.com') April 2014
                  li
                    | Service:
                    strong
                      a(href='http://startbootstrap.com') Web Development
                button.btn.btn-default(type='button', data-dismiss='modal')
                  i.fa.fa-times
                  |  Close
    #portfolioModal5.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-content
        .close-modal(data-dismiss='modal')
          .lr
            .rl
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .modal-body
                h2 Project Title
                hr.star-primary
                img.img-responsive.img-centered(src='img/portfolio/safe.png', alt='')
                p
                  | Use this area of the page to describe your project. The icon above is part of a free icon set by
                  a(href='https://sellfy.com/p/8Q9P/jV3VZ/') Flat Icons
                  | . On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
                ul.list-inline.item-details
                  li
                    | Client:
                    strong
                      a(href='http://startbootstrap.com') Start Bootstrap
                  li
                    | Date:
                    strong
                      a(href='http://startbootstrap.com') April 2014
                  li
                    | Service:
                    strong
                      a(href='http://startbootstrap.com') Web Development
                button.btn.btn-default(type='button', data-dismiss='modal')
                  i.fa.fa-times
                  |  Close
    #portfolioModal6.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-content
        .close-modal(data-dismiss='modal')
          .lr
            .rl
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .modal-body
                h2 Project Title
                hr.star-primary
                img.img-responsive.img-centered(src='img/portfolio/submarine.png', alt='')
                p
                  | Use this area of the page to describe your project. The icon above is part of a free icon set by
                  a(href='https://sellfy.com/p/8Q9P/jV3VZ/') Flat Icons
                  | . On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
                ul.list-inline.item-details
                  li
                    | Client:
                    strong
                      a(href='http://startbootstrap.com') Start Bootstrap
                  li
                    | Date:
                    strong
                      a(href='http://startbootstrap.com') April 2014
                  li
                    | Service:
                    strong
                      a(href='http://startbootstrap.com') Web Development
                button.btn.btn-default(type='button', data-dismiss='modal')
                  i.fa.fa-times
                  |  Close
    // jQuery
    script(src='vendor/jquery/jquery.min.js')
    // Bootstrap Core JavaScript
    script(src='vendor/bootstrap/js/bootstrap.min.js')
    // Plugin JavaScript
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
    // Contact Form JavaScript
    script(src='js/jqBootstrapValidation.js')
    script(src='js/contact_me.js')
    // Theme JavaScript
    script(src='js/freelancer.min.js')
